@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main[data-theme='default'] {
    --color-primary: #262626;
  }

  main[data-theme='mint'] {
    --color-primary: #13C2A3;
  }

  main[data-theme='mustard'] {
    --color-primary: #edc114;
  }

  main[data-theme='berry'] {
    --color-primary: #7048e8;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
}

.markdown>* {
  all: revert;
}
